.service-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 16px;
  /* border: 1px solid var(--accent); */
  color: var(--text-color);
  overflow: hidden;
  box-shadow: var(--accent) 0px 2px 3px, var(--accent) 0px 2px 2px;
}
.service-item a {
  color: inherit;
  text-decoration: none;
}
.service-item:hover {
  cursor: pointer;
  background-color: var(--hover-color);
  transition: 0.4s;
}
.service-item .img-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.service-item .img-container img {
  object-fit: cover;
  transition: 0.3s;
}
.service-item .img-container img:hover {
  transform: scale(1.1);
}
.service-item .text-container {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.service-item .text-container h6 {
  display: flex;
  color: var(--accent);
  font-size: 1.4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.service-item .text-container h6 .category,
.service-item .text-container h6 .sub-category {
  transition: 0.4s;
}

.service-item .text-container h2 {
  color: var(--primary-color);
  font-size: 1.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.4s;
}
.service-item .text-container h2:hover {
  color: #c491ff;
}
[data-theme='dark'] .service-item .text-container h2:hover {
  color: var(--text-color);
}
[data-theme='dark'] .service-item .text-container h2:active {
  color: var(--accent);
}
.service-item .text-container h2:active {
  color: var(--text-color);
}
.service-item .text-container .desc {
  font-size: 1.6rem;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  line-height: 1.5em;
  height: 3em;
  /* white-space: nowrap;  */
}
.service-item .text-container .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
}
.service-item .text-container .profile-info {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.service-item .text-container .profile-info img {
  width: 32px;
  height: 32px;
  transition: 0.4s;
  border-radius: 50%;
}
.service-item .text-container .profile-info img:hover {
  transform: scale(1.25);
}
.service-item .text-container .profile-info .tier-container {
  display: flex;
  flex-direction: column;
}
.service-item .text-container .info h4 {
  color: var(--primary-color);
  font-size: 2.4rem;
}
.service-item .text-container .profile-info .tier-container .name {
  transition: 0.4s;
  font-size: 1.4rem;
}

.service-item .text-container .profile-info .tier-container .name:hover {
  color: var(--primary-color);
}
