header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 4.8rem;
  background-color: var(--accent);
  gap: 3.2rem;
  color: var(--text-color);
}
header .title-cont {
  display: flex;
  align-items: center;
  gap: 2px;
}
header nav,
header .registration-cont {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
}
header a,
header .btn {
  text-decoration: none;
  color: var(--text-color);
}
header a:hover,
header .btn:hover {
  color: var(--hover-color);
  transition: 0.4s;
}
header a:active,
header .btn:active {
  color: var(--active-color);
}
header .hamburger {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
header .stick {
  width: 2.8rem;
  height: 4px;
  background-color: var(--primary-color);
  border-radius: 2rem;
}
header .hamburger:hover {
  cursor: pointer;
}

header .nav-link.active {
  color: var(--primary-color); /* Active link color */
}
[aria-current='page'] {
  color: var(--primary-color); /* Active link color */
}
header .toggle:hover {
  color: var(--hover-color);
  transition: 0.4s;
}
header .toggle:active {
  color: var(--active-color);
}
@media only screen and (max-width: 1400px) {
  header .hamburger {
    display: flex;
  }
  header nav,
  header .registration-cont {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  header {
    padding: 2.4rem 3.2rem;
  }
}
