.purchases-main {
  flex-grow: 1;
}
.purchases-title {
  margin: 4rem 0;
  text-align: center;
  font-size: 4.8rem;
  color: var(--text-color);
  padding-inline: 1.6rem;
}

.purchases-main h1 span {
  color: var(--primary-color);
}
.purchases-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  padding-inline: 4.8rem;
  padding-block: 2.4rem;
  margin-bottom: 8.4rem;
  gap: 2.4rem;
}
.purchase-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 16px;
  /* border: 1px solid var(--accent); */
  color: var(--text-color);
  overflow: hidden;
  box-shadow: var(--accent) 0px 2px 3px, var(--accent) 0px 2px 2px;
}
.purchase-item a {
  color: inherit;
  text-decoration: none;
}
.purchase-item:hover {
  cursor: pointer;
  background-color: var(--hover-color);
  transition: 0.4s;
}
.purchase-item .img-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.purchase-item .img-container img {
  object-fit: cover;
  transition: 0.3s;
  padding: 1rem;
}
.purchase-item .img-container img:hover {
  transform: scale(1.1);
}
.purchase-item .text-container {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.purchase-item .text-container h6 {
  display: flex;
  color: var(--accent);
  font-size: 1.4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.purchase-item .text-container h6 .category,
.purchase-item .text-container h6 .sub-category {
  transition: 0.4s;
}

.purchase-item .text-container h2 {
  color: var(--primary-color);
  font-size: 1.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.4s;
}
.purchase-item .text-container h2:hover {
  color: #c491ff;
}
[data-theme='dark'] .purchase-item .text-container h2:hover {
  color: var(--text-color);
}
[data-theme='dark'] .purchase-item .text-container h2:active {
  color: var(--accent);
}
.purchase-item .text-container h2:active {
  color: var(--text-color);
}
.purchase-item .text-container .desc {
  font-size: 1.6rem;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  line-height: 1.5em;
  height: 3em;
  /* white-space: nowrap;  */
}
.purchase-item .attract {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  padding-top: 0.6rem;
  border-top: 1px solid var(--accent);
}
.purchase-item .attract .brand {
  color: var(--primary-color);
}
.purchase-item .attract .pricing {
  color: #44bba4;
}
@media only screen and (max-width: 1400px) {
  .purchases-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .purchases-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 575px) {
  .purchases-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .purchase-title {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 375px) {
  .purchases-list {
    padding: 4.8rem 1.6rem;
  }
}
