@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background-color: #f5f3f7;
  --primary-color: #8b5fbf;
  --accent: #c7aed8;
  --secondary-accent: #61398f;
  --text-color: #4a4a4a;
  --hover-color: #e5e4e4;
  --active-color: #fff;
}

.dark {
  --background-color: #14011f;
  --primary-color: #c491ff;
  --accent: #8b5fbf;
  --secondary-accent: #61398f;
  --text-color: #f5f3f7;
  --hover-color: #3d085d;
  --active-color: #000;
}

.logo-right,
.logo-left {
  fill: var(--primary-color);
}
.logo-mid {
  fill: #44bba4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  background-color: var(--background-color);
}

body {
  color: var(--foreground);
  background: var(--background-color);
  font-family: 'Lexend', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.home {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 1.6rem;
}
.home h1 {
  font-size: 3.2rem;
}
.home span {
  color: var(--primary-color);
}
.home h1 {
  color: var(--text-color);
}
.home h2 {
  font-size: 2.4rem;
  color: var(--accent);
}
.home .homeBtn {
  background-color: var(--primary-color);
  color: var(--active-color);
  padding: 1.2rem 4.8rem;
  border-radius: 12px;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
